/* .App {
  width: 100%;
  height: 100vh;
} */

.App {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background: linear-gradient(45deg, #FFFFBB 0%, #66FF99 50%, #FFCC99 100%) 0 0 /
    200% 100% repeat;
  animation: colorchangeanimation-bg 3s infinite alternate;
}

@keyframes colorchangeanimation-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-text {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}